body {
    background: url('https://static.comicvine.com/uploads/scale_small/11115/111154974/4513294-power-rangers-1.jpg');
}
.red {
    color: firebrick;
    font-family: 'Shrikhand', cursive;
}
.green {
    color: limegreen;
}
h1 {
    background: blue;
    font-family: 'Abril Fatface', cursive;
}
/*.small {
     font-family: 'Bowlby One', cursive;
     font-size: 15px;
}*/